#Rovno .cls-1 {
    fill: #CFDAF0;
}
#Lutsk .cls-1 {
    fill: #F9CFCF;
}
#Lviv .cls-1 {
    fill: #C1DCCE;
}
#Uzhhorod .cls-1 {
    fill: #E9AFAA;
}
#Frankivsk .cls-1 {
    fill: #FCF8AF;
}
#Chernivtsi .cls-1 {
    fill: #C8D6EC;
}
#Ternopil .cls-1 {
    fill: #F6D9AD;
}
#Khmelnytskyi .cls-1 {
    fill: #FFC6D2;
}
#Zhitomir .cls-1 {
    fill: #F9F5B5;
}
#Vinnytsia .cls-1 {
    fill: #D8EECF;
}
#Kiev .cls-1 {
    fill: #FBD5A7;
}
#Chernigov .cls-1 {
    fill: #D7F0D3;
}
#Sumy .cls-1 {
    fill: #F6C8C3;
}
#Poltava .cls-1 {
    fill: #FBF7AF;
}
#Cherkasy .cls-1 {
    fill: #C5D1E6;
}
#Mykolayiv .cls-1 {
    fill: #FFF5B7;
}
#Kropivnitskiy .cls-1 {
    fill: #F5C8C8;
}
#Odessa .cls-1 {
    fill: #FCD9A5;
}
#Kharkiv .cls-1 {
    fill: #D9E7D0;
}
#Dnepr .cls-1 {
    fill: #F4DA9C;
}
#Kherson .cls-1 {
    fill: #DFE8D5;
}
#Zaporozhye .cls-1 {
    fill: #C6B1CF;
}
#Lugansk .cls-1 {
    fill: #FCF5BC;
}
#Donetsk .cls-1 {
    fill: #F7CAC7;
}
#Crimea .cls-1 {
    fill: #FBD7A3;
}
